services:
  - type: web
    name: absensi-api
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn app.main:app --host 0.0.0.0 --port $PORT"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: DATABASE_URL
        value: sqlite:///./absensi.db
      - key: DEVICE_TOKENS
        value: stb-01:ISI_TOKEN_DEVICE_KAMU
      - key: SECRET_KEY
        value: ini_kunci_rahasia_panjang_minimal_32_karakter_ubah_sendiri_123456
      - key: MAX_DISTANCE
        value: "0.95"
      - key: MIN_FACE_PX
        value: "90"
      - key: COOLDOWN_SECONDS
        value: "45"
      - key: SAVE_SNAPSHOTS
        value: "true"
      - key: SNAPSHOT_DIR
        value: ./data/snapshots
      - key: SNAPSHOT_ON_UNKNOWN
        value: "true"
      - key: SNAPSHOT_ON_LOW_CONF
        value: "true"
      - value: "0.85"
        key: LOW_CONF_DISTANCE
      - key: ADMIN_TOKEN_EXPIRE_HOURS
        value: "12"
